<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gm.content.dao.mapper.DictionaryMapper">
    <resultMap type="com.gm.content.domain.Dictionary" id="dicBaseMap">
        <id column="d_id" property="dId"/>
        <result column="d_desc" property="dDesc"/>
        <result column="d_desc" property="dDesc"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="cre_time" property="creTime"/>
        <result column="upd_time" property="updTime"/>
    </resultMap>

    <select id="findAllDic" resultMap="dicBaseMap">
        select
        *
        from
        dictionary
    </select>

    <select id="findById" resultMap="dicBaseMap" parameterType="string">
        select * from
        dictionary where d_id = #{id}

    </select>


</mapper>